/* dark-theme css */
.dark-theme{
    .layout-container{
        background: #0F172A !important;
        }
    .claro-toolbar-menu ,.toolbar-menu{
            background: #1E293B;
            color: #fff;
        }
        .toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a{
            color: #fff;
          }
          tr{
            background-color: #1E293B;
          }
          .views-field a{
            color:#94a3b8;
          }
          .unpublished{
            background-color: #432F25;
          }
          .published{
            background-color: #25432b;
          }
          .views-exposed-form{
            background-color: #1E293B !important;
          }
    }
    .layout-container{
      background: #F2F7FB;
      padding-right: 3em;
      margin: unset;
      padding-left: 3em;
    }

    .page-content{
      padding-top: 20px;
    }

    header .layout-container{
      background: #fff !important;
    }

    .content-header .page-title{
      color: #000;
    }

    .content-header {
      background-color: unset;
    }
    // breadcrumb css
    .breadcrumb{
      float: right;
      a{
        color: #575864;
      }
    }

    .region-top-nav{
      height: 60px;
    }
    .box{
      margin-right: 30px;
      display: flex;
      float: right;
      div{
        margin: 0 15px;
    }
    }
    #toolbar-administration .toolbar-bar .toolbar-icon-shortcut,.commerce-inbox-toolbar-tab,.announce-toolbar-tab,
    .toolbar-icon-user,.toolbar-icon-edit,.home-toolbar-tab{
      display: none !important;
    }

    .rotate{
        animation: rotation infinite 3s linear;
     }

     @keyframes rotation{
       from{
         transform:rotate(0deg);
       }

       to{
         transform:rotate(360deg);
       }
     }

    .button--primary, .js-form-submit, .button--small{
        color: #2275fc !important;
        background-color: #fff !important;
        border: 1px solid #2275fc !important;
        border-radius: 12px;
    }

    .button--primary:hover, .js-form-submit:hover, .dropbutton:hover ,.button--small:hover{
      background-color: #2275fc !important;
      color: #fff !important;
    }

    .tabs__tab a{
      color: #000;
    }

    .sortable-heading{
     color: #000;
    }
    /* table and view css */
    .views-bulk-actions{
     background: #2275fc;
    }
    .views-form{
      border: 1px solid #dedfe4;
      border-radius: 12px;
      box-shadow: 0 2px 0.25rem rgba(0, 0, 0, 0.1)

    }
    .views-exposed-form{
      border-radius: 12px !important;
    }

    .views-field{
      color: #000 !important;
      a{
        color: #575864;
      }
      a:hover{
        color: #2275fc;
      }
    }

    .views-field .views-field  .Edit,.dropbutton__toggle{
      color: #2275fc !important;
      background: #fff !important;
    }

    .dropbutton a{
      color: #2275fc !important;
      background: #fff !important;
    }
    /* tool bar css */
    .toolbar-bar{
        width: 13%;
        #toolbar-item-administration-tray{
            padding: 0 12px;
          }
          .toolbar-box{
            a:hover, .breadcrumb a:hover{
                color: #2275fc !important;
              }
            .toolbar-icon{
                font-weight: bold;
                font-size: 13px;
              }

          }
          .toolbar-toggle-orientation button{
            display: none !important;
          }

          .toolbar-icon-system-admin-content::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M4.5 23h15c1 0 1.5-.564 1.5-1.692V2.692C21 1.758 20.328 1 19.5 1h-15C3.672 1 3 1.758 3 2.692v18.616C3 22.242 3.672 23 4.5 23zM8 8h5M8 13h8M8 18h8' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
          }
          .toolbar-icon-system-admin-structure::before{

            background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M12.928 1.486a2 2 0 00-1.856 0L1.5 6.5l9.572 5.014a2 2 0 001.856 0L22.5 6.5l-9.572-5.014zM1.5 12l9.572 5.014a2 2 0 001.856 0L22.5 12M1.5 17.5l9.572 5.014a2 2 0 001.856 0L22.5 17.5' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important
          }

          .toolbar-icon-system-themes-page::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M9 7.75h10M19 4.077v-2.02c0-.445-.448-.807-1-.807H6c-.552 0-1 .362-1 .808v8.077c.004 2.175 1.562 4.153 4 5.077v4.615c0 1.338 1.343 2.423 3 2.423s3-1.085 3-2.423v-4.615c2.438-.924 3.997-2.902 4-5.077V7.75' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
          }
          .toolbar-icon-system-modules-list::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M19.765 22.719l-8.151-.002H3.462a1.46 1.46 0 01-1.46-1.46v-3.913c1.526.621 3.278 1.157 4.278-.152 1-1.308 1-3.124 0-4.432-1-1.309-2.752-.772-4.277-.151L2 9.693c0-.807.654-2.46 1.46-2.46h5.654C7.688 5.806 6.606 4.495 8.032 3.069c1.426-1.425 5.737-1.425 7.163 0 1.425 1.426.412 2.737-1.014 4.163h5.585c.806 0 1.46 1.653 1.46 2.459l-.004 2.916c-1.525-.62-3.277-1.157-4.277.152a3.65 3.65 0 000 4.433c1 1.308 2.751.772 4.276.15l.004 3.917a1.46 1.46 0 01-1.46 1.46z' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
          }
          .toolbar-icon-system-admin-config::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3ccircle fill='none' stroke='currentColor' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' cx='12' cy='12' r='3'/%3e%3cpath fill='none' stroke='currentColor' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' d='M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z'/%3e%3c/svg%3e") !important;
          }

          .toolbar-icon-entity-user-collection::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' clip-rule='evenodd' d='M12 12.5a5.5 5.5 0 100-11 5.5 5.5 0 000 11z' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath fill='none' d='M1.5 22v-1c0-3.5 6.096-5 10.5-5s10.5 1.5 10.5 5v1M22.5 22s-6.395.5-10.5.5S1.5 22 1.5 22' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
          }

          .toolbar-icon-system-admin-reports::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M5.75 14.5v6.991c.001.268-.199.518-.532.667-1.04.462-2.395.462-3.436 0-.333-.149-.533-.4-.532-.667V14.5M5.75 14.5c0-.828-1.007-1.5-2.25-1.5s-2.25.672-2.25 1.5M14.25 3v17.985a1.2 1.2 0 01-.532 1 3.1 3.1 0 01-3.436 0 1.2 1.2 0 01-.532-1V3M14.25 3c0-.828-1.007-1.5-2.25-1.5S9.75 2.172 9.75 3M22.75 7.5V9m-4.5-1.5v13.557c-.001.383.199.74.532.953a3.23 3.23 0 003.436 0 1.13 1.13 0 00.532-.953V12.5M22.75 7.5c0-.828-1.007-1.5-2.25-1.5s-2.25.672-2.25 1.5' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
          }

          .toolbar-icon-help-main:before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M23 12c0 6.075-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1s11 4.925 11 11z' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath fill='none' d='M9.09 8a3 3 0 015.83 1c0 2-3 3-3 3' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath fill='none' d='M12 17h.01' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
          }

          .toolbar-icon.toolbar-handle::before {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M8 20l8-8-8-8' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") !important;
            transform: rotate(90deg);
            font-size: 11px;
          }
          .toolbar {
            .toolbar-icon.toolbar-handle {
                background-color: rgba(35, 119 ,252, 0) !important;
            }
            .toolbar-tray-vertical {
                border-right: unset;
                background-color: #fff;
                box-shadow: -3px 0 3px 2px rgba(0, 0, 0, 0.3333);
              }

              .toolbar-tray .menu-item--active-trail > .toolbar-box a, .toolbar .toolbar-tray a.is-active {
                background-color: rgba(35, 119, 252, 0.1) !important;
                border-radius: 12px;
                margin: 0 6px;
                color: #2275fc;
              }
              .toolbar-tray-vertical .menu-item + .menu-item {
                border-top: unset;
              }
              .toolbar-bar {
                background-color: #fff;
              }
              .menu-item{
                padding-top: 15px !important;
              }
              .toolbar-bar .toolbar-tab > .toolbar-item.is-active {
                width: 239px;
              }
          }
          .toolbar-tab .toolbar-icon-menu{
            display: none !important;
          }

      }

    .level-2 .toolbar-box:before{
        position: absolute;
        content: "";
        top: 18px;
        left: 27px;
        width: 4px;
        height: 4px;
        border: 1px solid #CBD5E1;
        transform: rotate(45deg);
    }

    .level-2 .toolbar-box:hover:before {
      border-color: #2275fc;
    }

    .toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before, .toolbar-icon-10 .toolbar-icon-admin-toolbar-tools-help:before {
      background-image: url(../images/favicon.ico) !important;
    }

    // user block code starts here

    .user{
      width: 230px;
      float: right;
      display: flex;
      img{
        border-radius: 50px;
      }
      .user-name{
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
      }
      .role{
        color: #95989d;
        font-size: 12px;
        line-height: 15px;
      }
      .right-cont{
        margin: 6px 35px 0 15px;
      }
    }

    // user block code ends here
    // action items css
    .views-field-operations{

        .dropbutton--multiple {
            display: flex;
            .edit{
                margin-right: 0 !important;
              }
              .variations a{
                margin-top: -3px;
                background: url(../images/view.png) no-repeat 0 0 !important;
                font-size: 0 !important;
              }
              .edit a{
                margin-right: 0 !important;
                background: url(../images/edit.png) no-repeat 0 0 !important;
                font-size: 0 !important;
              }
              .delete a{
                background: url(../images/delete.png) no-repeat 0 0 !important;
                font-size: 0 !important;
              }
            }
            .dropbutton__item:first-of-type ~ .dropbutton__item {
                visibility: visible !important;
              }
              .dropbutton__item:first-of-type ~ .dropbutton__item {
                border: #fff;
                border-bottom: 0;
              }
              .dropbutton__item:first-of-type > *:hover{
                box-shadow: 0 0 0 !important;
              }
              .dropbutton--multiple .dropbutton-toggle{
                display: none;
              }
              .dropbutton:hover, .button--small:hover {
                background-color: #fff !important;
              }
              .dropbutton-widget{
                background-color: #fff;
              }
              .dropbutton-wrapper {
                box-shadow: unset;
              }
    }
//  tabel status code
    .unpublished{
      background: #FFF2ED;
      color: #FF5200;
    }
    .published{
      background: #edfff4;
      color: #189c59;
      width: 75px;

    }
    .flag, .moon, .notification ,.message,.button-zoom-maximize{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(203, 213, 225, 0.3);
    }
    /* icons css */

    .flag,.moon,.message,.notification,.button-zoom-maximize{
      cursor: pointer;
    }

    .flag img, .moon svg, .message svg, .notification svg , .button-zoom-maximize svg{
        width: 25px;
        height: 25px;
        transform: translate(32%, 32%);
    }

    .setting{
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .message .text-tiny {
      position: relative;
      z-index: 5;
      top: -37px;
      right: -27px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 999px;
      background: #ff5200;
      color: #fff;
    }

    .notification .text-tiny {
      position: relative;
      z-index: 5;
      top: -37px;
      right: -27px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 999px;
      background: #2275fc;
      color: #fff;
    }
    @keyframes ping{
      75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
    }
    .message .text-tiny::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      background-color: #ff5200;
      border-radius: 50%;
      z-index: -1;
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    }

    .notification .text-tiny::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      background-color: #2275fc;
      border-radius: 50%;
      z-index: -1;
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
